# vim: foldmethod=marker

snippet $$ "New transaction" bA
`date +%Y/%m/%d` ${2:*} ${3:description}
    ${4:Debit Account Type}:${5:Account}								${6:Amount}
    ${7:Credit Account Type}:${8:Account}
endsnippet
